* {
    box-sizing: border-box;
  }
  

body {
    font-family: Lato;
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #993333;
  } 

.inscription {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}